$bottonGray:#e6e6e6;
$blue:#052d84;

/*$pcMaxWidthは別ファイルで定義*/


/* carousel */
.carousel-outer{
    width: 100%;
    overflow: hidden;
    pointer-events: auto;
    position: relative;
}

.carousel{
    max-width: $pcMaxWidth *1px;
    margin: 0 auto;
    position: relative;
}

.carousel-inner{
    width: 10000px; /* jsで変更する */
    display: flex;
    transform: translateX(0);
    position: relative;
    pointer-events: auto;
}
.carousel-item{
    @include widthSpPc(320,1140);/* jsで変更する */
    margin:0 2px 0 2px;
    position: relative;
        &:after{
            content: ' ';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        } 
}

/* 前後ボタンと黒影 */
.btn-area-outer{
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    pointer-events: none;
}
.before-content-area {
    width: calc((100vw - #{$pcMaxWidth *1px})/2);
    background-color: rgba(0,0,0,0.8);
}
.after-content-area {
    width: calc((100vw - #{$pcMaxWidth *1px})/2);
    background-color: rgba(0,0,0,0.8);
}
.btn-area-outer .btn-area{
    width: 100vw;
    max-width: 1110px;
    height: 570px; /*jsで変更*/
    max-height: 570px;
    position: relative;
    margin: 0 auto;
}
.btn-next,.btn-prev{
    pointer-events: auto;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    span{
        visibility: hidden;
    }
    width: 0;
    height: 0;
    border-style: solid;
}
.btn-prev{
    right: 20px;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent $blue;
}
.btn-next{
    left: 20px;
    border-width: 10px 20px 10px 0;
    border-color: transparent $blue transparent transparent;
}


/* インディケーター */
.carousel-indicator{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    li{
        margin-right: 10px;
        background-color: #f5f5f5;
        cursor: pointer;
        width: 10px;
        height: 10px;
    }
}
