/* ---------------------

common

--------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    box-sizing: border-box;
}
img{
  vertical-align: bottom;
  max-width: 100%;
  width: 100%;
  height: auto;
}
html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem; /* --- 16px -- */
  font-family: Arial, Helvetica, sans-serif;
  color: $black;
  line-height: 1.6;
}
section,footer{
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.only-pc{
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
.only-sp{
  @include media-breakpoint-up(md) {
    display: none !important;
  }
}

/* --- Grid Setting --- */
.container-outer{
  width: 100%;
  overflow: hidden;
}
.container-inner-max{
  width: 100%;
}
.container-inner-center{
  margin-right: auto;
  margin-left:auto;
  padding-left: 7vw;
  padding-right:7vw;
  padding-top: calcSpVw(80);
  padding-bottom: calcSpVw(80);
  max-width: $pcMaxWidth * 1px;
  @include media-breakpoint-up(md) { 
      padding-top: calcPcVw(80);
      padding-bottom: calcPcVw(80);
}
  @include media-breakpoint-up(lg) { 
      padding-left:0px;
      padding-right:0px;
      padding-top: 80px;
      padding-bottom: 80px;
   }
   &.sp-max{
     padding-left:0;
     padding-right: 0;
   }
}

/* --- Grid Setting end --- */