/* ---------------------

下記の値をプロジェクトごとに定義する
$spStandardWidth:xxx;
$pcStandardWidth:xxx;
$pcMaxWidth:xxx;

ブレークポイントはこのファイルで定義
@include media-breakpoint-up(sm) { ... } // up 576px // landscape phone , big phone
@include media-breakpoint-up(md) { ... } // up 768px // tablet + up
@include media-breakpoint-up(lg) { ... } // up $pcStandardWidth // desktop
@include media-breakpoint-up(xl) { ... } // up $pcMaxWidth // large desktop

@include media-breakpoint-down(xs) { ... } // portrait phones, less than 576px
@include media-breakpoint-down(sm) { ... } // down 768px
@include media-breakpoint-down(md) { ... } // down $pcStandardWidth
@include media-breakpoint-down(lg) { ... } // down $pcMaxWidth

@include media-breakpoint-only(tab) { ... } // (min-width:768px) and (max-width:$pcMaxWidth)


$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

--------------------- */

/* ---------------------

//common

@include widthSp($widthSp);
@include widthPc($widthPc);
@include widthSpPc($widthSp,$widthPc);
@include widthSpTabPc($widthSp,$widthTab,$widthPc);
@include widthPcFit($widthPc);

@include heightSp($heightSp);
@include heightPc($heightPc);
@include heightSpPc($heightSp,$heightPc);

@include paddingSp(10,10,10,10);
@include paddingPc(10,10,10,10);
@include paddingSpPc(10,10,10,10,10,10,10,10);
@include paddingSpTabPc(10,10,10,10,10,10,10,10,10,10,10,10);

@include fontSizeSp($fontSizeSp);
@include fontSizePc($fontSizePc);
@include fontSizeSpPc($fontSizeSp,$fontSizePc);
@include fontSizeSpTabPc($fontSizeSp,$fontSizeTab,$fontSizePc);

@include lineHeightSp($lineHeightSp);
@include lineHeightPc($lineHeightPc);
@include lineHeightSpPc($lineHeightSp,$lineHeightPc);

@include marginSp(10,10,10,10);
@include marginPc(10,10,10,10);
@include marginSpPc(10,10,10,10,10,10,10,10);

@include marginBottomSp($marginBottomSp);
@include marginBottomPc($marginBottomPc);
@include marginBottomSpPc($marginBottomSp,$marginBottomPc);

@include marginTopSp($marginTopSp);
@include marginTopPc($marginTopPc);
@include marginTopSpPc($marginTopSp,$marginTopPc);


// function
calcSpVw($num)
calcPcVw($num)

// clearfix
@include clearfix();
--------------------- */

/* ---------------------

@function

--------------------- */
@function calcSpVw($num){
  @return ($num / $spStandardWidth) * 100vw;
}

@function calcPcVw($num){
  @return ($num / $pcStandardWidth) * 100vw;
}


/* ---------------------

media-breakpoint

--------------------- */

/* @include media-breakpoint-up(sm) { ... } */
/* up 576px // landscape phone , big phone */
@mixin media-breakpoint-up($name) { 
  @if($name == 'sm'){
    @media (min-width: 576 * 1px) {
      @content;
    }
  }
  @if($name == 'md'){
    @media (min-width: 768 * 1px) {
      @content;
    }
  }
  @if($name == 'lg'){
    @media (min-width: $pcStandardWidth * 1px) {
      @content;
    }
  }
  @if($name == 'xl'){
    @media (min-width: $pcMaxWidth * 1px) {
      @content;
    }
  }
  @else{
    @content;
  }
} 



/* @include media-breakpoint-down(xs) { ... } 
// down 575.98px, small phone */
@mixin media-breakpoint-down($name) { 
  @if($name == 'xs'){
    @media (max-width: (576 - 0.02) * 1px) {
      @content;
    }
  }
  @if($name == 'sm'){
    @media (max-width: (768 - 0.02) * 1px) {
      @content;
    }
  }
  @if($name == 'md'){
    @media (max-width: ($pcStandardWidth - 0.02) * 1px) {
      @content;
    }
  }
  @if($name == 'lg'){
    @media (max-width: ($pcMaxWidth - 0.02) * 1px) {
      @content;
    }
  }
}

/* @include media-breakpoint-only(tab) { ... } */
@mixin media-breakpoint-only($name) { 
  @if($name == 'tab'){
    @media (min-width: 768 * 1px) and (max-width: $pcStandardWidth * 1px) {
      @content;
    }
  }
}



/* ---------------------

mixin common

--------------------- */
/* width */
@mixin widthSp($widthSp){
  @include media-breakpoint-down(sm) { 
    width: ($widthSp / $spStandardWidth) * 100vw;
  }
}
@mixin widthPc($widthPc){
  @include media-breakpoint-up(md) { 
    width: ($widthPc / $pcStandardWidth) * 100vw;
  }
  @include media-breakpoint-up(xl){
    width: $widthPc * 1px;
  }
}
@mixin widthSpPc($widthSp,$widthPc){
  width: ($widthSp / $spStandardWidth) * 100vw;
  @include media-breakpoint-up(md) {
    width: ($widthPc / $pcStandardWidth) * 100vw;
  }
  @include media-breakpoint-up(xl){
    width: $widthPc * 1px;
  }
}
@mixin widthSpTabPc($widthSp,$widthTab,$widthPc){
  width: ($widthSp / $spStandardWidth) * 100vw;
  @include media-breakpoint-up(md) {
    width: ($widthTab / $pcStandardWidth) * 100vw;
  }
  @include media-breakpoint-up(lg) {
    width: ($widthPc / $pcStandardWidth) * 100vw;
  }
  @include media-breakpoint-up(xl){
    width: $widthPc * 1px;
  }
}
@mixin widthPcFit($widthPc){
  @include media-breakpoint-up(md) {
    width: ($widthPc / $pcStandardWidth) * 100vw;
  }
}
/* height */
@mixin heightSp($heightSp){
  @include media-breakpoint-down(sm) { 
    height: ($heightSp / $spStandardWidth) * 100vw;
  }
}
@mixin heightPc($heightPc){
  @include media-breakpoint-up(md) {
    height: ($heightPc / $pcStandardWidth) * 100vw;
  }
  @include media-breakpoint-up(xl){
    height: $heightPc * 1px;
  }
}
@mixin heightSpPc($heightSp,$heightPc){
  height: ($heightSp / $spStandardWidth) * 100vw;
  @include media-breakpoint-up(md) {
    height: ($heightPc / $pcStandardWidth) * 100vw;
  }
  @include media-breakpoint-up(xl){
    height: $heightPc * 1px;
  }
}
/* padding */
@mixin paddingSp($paddingTopSp,$paddingRightSp,$paddingBottomSp,$paddingLeftSp){
  @include media-breakpoint-down(sm) { 
    padding:($paddingTopSp / $spStandardWidth)*100vw ($paddingRightSp / $spStandardWidth)*100vw ($paddingBottomSp / $spStandardWidth)*100vw ($paddingLeftSp / $spStandardWidth)*100vw;
  }
}

@mixin paddingPc($paddingTopPc,$paddingRightPc,$paddingBottomPc,$paddingLeftPc){
  @include media-breakpoint-up(md) {
    padding:($paddingTopPc / $pcStandardWidth)*100vw ($paddingRightPc / $pcStandardWidth)*100vw ($paddingBottomPc / $pcStandardWidth)*100vw ($paddingLeftPc / $pcStandardWidth)*100vw;
  }
  @include media-breakpoint-up(xl){
  padding:$paddingTopPc * 1px $paddingRightPc * 1px $paddingBottomPc * 1px $paddingLeftPc * 1px;
  }
}
@mixin paddingSpPc($paddingTopSp,$paddingRightSp,$paddingBottomSp,$paddingLeftSp,$paddingTopPc,$paddingRightPc,$paddingBottomPc,$paddingLeftPc){
  padding:($paddingTopSp / $spStandardWidth)*100vw ($paddingRightSp / $spStandardWidth)*100vw ($paddingBottomSp / $spStandardWidth)*100vw ($paddingLeftSp / $spStandardWidth)*100vw;
  @include media-breakpoint-up(md) {
    padding:($paddingTopPc / $pcStandardWidth)*100vw ($paddingRightPc / $pcStandardWidth)*100vw ($paddingBottomPc / $pcStandardWidth)*100vw ($paddingLeftPc / $pcStandardWidth)*100vw;
  }
  @include media-breakpoint-up(xl){
  padding:$paddingTopPc * 1px $paddingRightPc * 1px $paddingBottomPc * 1px $paddingLeftPc * 1px;
  }
}
@mixin paddingSpTabPc($paddingTopSp,$paddingRightSp,$paddingBottomSp,$paddingLeftSp,$paddingTopTab,$paddingRightTab,$paddingBottomTab,$paddingLeftTab,$paddingTopPc,$paddingRightPc,$paddingBottomPc,$paddingLeftPc){
  padding:($paddingTopSp / $spStandardWidth)*100vw ($paddingRightSp / $spStandardWidth)*100vw ($paddingBottomSp / $spStandardWidth)*100vw ($paddingLeftSp / $spStandardWidth)*100vw;
  @include media-breakpoint-up(md) {
    padding:($paddingTopTab / $pcStandardWidth)*100vw ($paddingRightTab / $pcStandardWidth)*100vw ($paddingBottomTab / $pcStandardWidth)*100vw ($paddingLeftTab / $pcStandardWidth)*100vw;
  }
  @include media-breakpoint-up(lg) {
    padding:($paddingTopPc / $pcStandardWidth)*100vw ($paddingRightPc / $pcStandardWidth)*100vw ($paddingBottomPc / $pcStandardWidth)*100vw ($paddingLeftPc / $pcStandardWidth)*100vw;
  }
  @include media-breakpoint-up(xl){
  padding:$paddingTopPc * 1px $paddingRightPc * 1px $paddingBottomPc * 1px $paddingLeftPc * 1px;
  }
}

/* fontsize */
@mixin fontSizeSp($fontSizeSp){
  @include media-breakpoint-down(sm) { 
    font-size: ($fontSizeSp / $spStandardWidth) * 100vw;
  }
}
@mixin fontSizePc($fontSizePc){
  @include media-breakpoint-up(md) {
    font-size: ($fontSizePc / $pcStandardWidth) * 100vw;
  }
  @include media-breakpoint-up(xl){
    font-size: $fontSizePc * 1px;
  }
}
@mixin fontSizeSpPc($fontSizeSp,$fontSizePc){
  font-size: ($fontSizeSp / $spStandardWidth) * 100vw;
  @include media-breakpoint-up(md) {
    font-size: ($fontSizePc / $pcStandardWidth) * 100vw;
  }
  @include media-breakpoint-up(xl){
    font-size: $fontSizePc * 1px;
  }
}
@mixin fontSizeSpTabPc($fontSizeSp,$fontSizeTab,$fontSizePc){
  font-size: ($fontSizeSp / $spStandardWidth) * 100vw;
  @include media-breakpoint-up(md) {
    font-size: ($fontSizePc / $pcStandardWidth) * 100vw;
  }
  @include media-breakpoint-up(lg) {
    font-size: ($fontSizeTab / $pcStandardWidth) * 100vw;
  }
  @include media-breakpoint-up(xl){
    font-size: $fontSizePc * 1px;
  }
}

/* lineHeight */
@mixin lineHeightSp($lineHeightSp){
  @include media-breakpoint-down(sm) { 
    line-height: ($lineHeightSp / $spStandardWidth) * 100vw;
  }
}
@mixin lineHeightPc($lineHeightPc){
  @include media-breakpoint-up(md) {
    line-height: ($lineHeightPc / $pcStandardWidth) * 100vw;
  }
  @include media-breakpoint-up(xl){
    line-height: $lineHeightPc * 1px;
  }
}
@mixin lineHeightSpPc($lineHeightSp,$lineHeightPc){
  line-height: ($lineHeightSp / $spStandardWidth) * 100vw;
  @include media-breakpoint-up(md) {
    line-height: ($lineHeightPc / $pcStandardWidth) * 100vw;
  }
  @include media-breakpoint-up(xl){
    line-height: $lineHeightPc * 1px;
  }
}

/* margin */
@mixin marginSp($marginTopSp,$marginRightSp,$marginBottomSp,$marginLeftSp){
  @include media-breakpoint-down(sm) { 
    margin-top: ($marginTopSp / $spStandardWidth) * 100vw;
    margin-bottom:($marginBottomSp / $spStandardWidth) * 100vw;
    @if $marginRightSp == auto{
      margin-right:auto;
    } @else{
      margin-right: ($marginRightSp / $spStandardWidth) * 100vw;
    }
    @if $marginLeftSp == auto{
      margin-left:auto;
    } @else{
      margin-left: ($marginLeftSp / $spStandardWidth) * 100vw;
    }
  }
}

@mixin marginPc($marginTopPc,$marginRightPc,$marginBottomPc,$marginLeftPc){
  @include media-breakpoint-up(md) {
    margin-top: ($marginTopPc / $pcStandardWidth) * 100vw;
    margin-bottom:($marginBottomPc / $pcStandardWidth) * 100vw;
    @include media-breakpoint-up(xl){
      margin-top: $marginTopPc * 1px;
      margin-bottom: $marginBottomPc * 1px;    
    }
    @if $marginRightPc == auto{
      margin-right:auto;
    } @else{
      margin-right: ($marginRightPc / $pcStandardWidth) * 100vw;
    }
    @if $marginLeftPc == auto{
      margin-left:auto;
    } @else{
      margin-left: ($marginLeftPc / $pcStandardWidth) * 100vw;
    }
  }
}
@mixin marginSpPc($marginTopSp,$marginRightSp,$marginBottomSp,$marginLeftSp,$marginTopPc,$marginRightPc,$marginBottomPc,$marginLeftPc){
  margin-top: ($marginTopSp / $spStandardWidth) * 100vw;
  margin-bottom:($marginBottomSp / $spStandardWidth) * 100vw;
  @if $marginRightSp == auto{
    margin-right:auto;
  } @else{
    margin-right: ($marginRightSp / $spStandardWidth) * 100vw;
  }
  @if $marginLeftSp == auto{
    margin-left:auto;
  } @else{
    margin-left: ($marginLeftSp / $spStandardWidth) * 100vw;
  }
  @include media-breakpoint-up(md) {
    margin-top: ($marginTopPc / $pcStandardWidth) * 100vw;
    margin-bottom:($marginBottomPc / $pcStandardWidth) * 100vw;
    @if $marginRightPc == auto{
      margin-right:auto;
    } @else{
      margin-right: ($marginRightPc / $pcStandardWidth) * 100vw;
    }
    @if $marginLeftPc == auto{
      margin-left:auto;
    } @else{
      margin-left: ($marginLeftPc / $pcStandardWidth) * 100vw;
    } 
  }
   @include media-breakpoint-up(xl){
    margin-top: $marginTopPc * 1px;
    margin-bottom: $marginBottomPc * 1px;    
  }
}


@mixin marginBottomSp($marginBottomSp){
  @include media-breakpoint-down(sm) { 
    margin-bottom: ($marginBottomSp / $spStandardWidth) * 100vw;
  }
}
@mixin marginBottomPc($marginBottomPc){
  @include media-breakpoint-up(md) {
    margin-bottom: ($marginBottomPc / $pcStandardWidth) * 100vw;
  }
  @include media-breakpoint-up(xl){
    margin-bottom: $marginBottomPc * 1px;
  }
}
@mixin marginBottomSpPc($marginBottomSp,$marginBottomPc){
  margin-bottom: ($marginBottomSp / $spStandardWidth) * 100vw;
  @include media-breakpoint-up(md) {
    margin-bottom: ($marginBottomPc / $pcStandardWidth) * 100vw;
  }
  @include media-breakpoint-up(xl){
    margin-bottom: $marginBottomPc * 1px;
  }
}

@mixin marginTopSp($marginTopSp){
  @include media-breakpoint-down(sm) { 
    margin-top: ($marginTopSp / $spStandardWidth) * 100vw;
  }
}
@mixin marginTopPc($marginTopPc){
  @include media-breakpoint-up(md) {
    margin-top: ($marginTopPc / $pcStandardWidth) * 100vw;
  }
  @include media-breakpoint-up(xl){
    margin-top: $marginTopPc * 1px;
  }
}
@mixin marginTopSpPc($marginTopSp,$marginTopPc){
  margin-top: ($marginTopSp / $spStandardWidth) * 100vw;
  @include media-breakpoint-up(md) {
    margin-top: ($marginTopPc / $pcStandardWidth) * 100vw;
  }
  @include media-breakpoint-up(xl){
    margin-top: $marginTopPc * 1px;
  }
}


// ClearFix
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
/* ---------------------

for this site

--------------------- */
