@charset "utf-8";

/* ---------------------

Remarks: 必ずcssではなく_assets/scss内のファイルを編集してください。

--------------------- */


@import "import/reset";


/* ---------------------

setting

--------------------- */


/*  カンプで使用している数値を設定 */

$spStandardWidth:320;
$pcStandardWidth:1140;
$pcMaxWidth:1140;

$black:#000;

@import "import/mixins";
@import "import/common";

@import "import/carousel";

/* ---------------------

each

--------------------- */
